.ls-layerwhite,
.ls-layer * {
    font-family: 'Lato Light', 'Lato Regular', Arial, Serif;
    white-space: nowrap;
    font-weight: normal;
}

.ls-s5 {
    background: white;
    //background: rgba(186,212,234, 0.8);
}

.smaller {
}

.l1-s3 {
    font-size: 25px;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    color: white;
    text-shadow: none;
    background: #98b3c7;

    background: -moz-linear-gradient(left,  #98b3c7 0%, #77b8e9 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#98b3c7), color-stop(100%,#77b8e9));
    background: -webkit-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: -o-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: -ms-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: linear-gradient(to right,  #98b3c7 0%,#77b8e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b3c7', endColorstr='#77b8e9',GradientType=1 );
}

.l1-s1 {
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    color: white;
    text-shadow: none;
    font-size: 30px;
    background: #98b3c7;

    background: -moz-linear-gradient(left,  #98b3c7 0%, #77b8e9 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#98b3c7), color-stop(100%,#77b8e9));
    background: -webkit-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: -o-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: -ms-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: linear-gradient(to right,  #98b3c7 0%,#77b8e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b3c7', endColorstr='#77b8e9',GradientType=1 );
}

.l1-s2 {
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    color: white;
    text-shadow: none;
    font-size: 30px;
    background: #cd9084;

    background: -moz-linear-gradient(left,  #cd9084 0%, #ce533d 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cd9084), color-stop(100%,#ce533d));
    background: -webkit-linear-gradient(left,  #cd9084 0%,#ce533d 100%);
    background: -o-linear-gradient(left,  #cd9084 0%,#ce533d 100%);
    background: -ms-linear-gradient(left,  #cd9084 0%,#ce533d 100%);
    background: linear-gradient(to right,  #cd9084 0%,#ce533d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9084', endColorstr='#ce533d',GradientType=1 );
}

.l1-s1b {
    color: #fff;
    text-shadow: 0px 0px 10px white;
    font-size: 60px;
}

.l1-s2b {
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    font-size: 90px;
}


.l2-s1 {
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-shadow: none;
    font-size: 35px;
    background: #98b3c7;
    background: -moz-linear-gradient(left,  #98b3c7 0%, #77b8e9 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#98b3c7), color-stop(100%,#77b8e9));
    background: -webkit-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: -o-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: -ms-linear-gradient(left,  #98b3c7 0%,#77b8e9 100%);
    background: linear-gradient(to right,  #98b3c7 0%,#77b8e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98b3c7', endColorstr='#77b8e9',GradientType=1 );
}

.l2-s2 {
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-shadow: none;
    font-size: 35px;
    background: #cd9084;
    background: -moz-linear-gradient(left,  #cd9084 0%, #ce533d 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cd9084), color-stop(100%,#ce533d));
    background: -webkit-linear-gradient(left,  #cd9084 0%,#ce533d 100%);
    background: -o-linear-gradient(left,  #cd9084 0%,#ce533d 100%);
    background: -ms-linear-gradient(left,  #cd9084 0%,#ce533d 100%);
    background: linear-gradient(to right,  #cd9084 0%,#ce533d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9084', endColorstr='#ce533d',GradientType=1 );
}

.l4-s1 {
    padding: 0px 10px;
    height: 36px;
    line-height: 36px;
    color: white;
    text-shadow: none;
    font-size: 25px;
    background: #036d99;
}

.l4-s2 {
    background: #5a96b4;
}

.l5-s1 {
    padding: 15px;
    background: #ff9933;
    border-radius: 5px;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
    color: white;
    text-shadow: 0px -1px 0px #985a1d;
    font-size: 16px;
    font-weight: bold;
    line-height: auto;
    box-shadow: 0px 3px 10px -2px black;
}

.layer2 p {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    padding: 0px 10px;
    box-shadow: 0px 1px 8px -2px black;
    text-shadow: none;
    color: white;
}

.l3-s1 {
     color: #f8dfcf;
    background: #b0734d;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 2px 20px -3px black;
    padding: 0px 20px;
    text-shadow: none;
}
